<header id="header_gen">
  <nav class="navbar">
    <div class="content">
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i class="fas fa-times"></i>
            </div> 
                <li><a class="nav-link nav-link-ltr" href="#" ng-click="refreshPage()">Home</a></li>
                <li><a class="nav-link nav-link-ltr" style="margin-right: 3rem;" href="#!men" ng-click="refreshPage()">Men</a></li>
                <li><p class="" style="font-family: 'Dancing Script', cursive; font-weight: 5rem; font-size: 30px; padding: 1.5rem 5rem 2rem 5rem;color: #dfb392;" ng-click="refreshPage()">Women</p></li>
                <li><a class="nav-link nav-link-ltr" href="#!accessories" ng-click="refreshPage()">Accessories</a></li>
                <li><a class="nav-link nav-link-ltr" href="#!gallery" ng-click="refreshPage()">Gallery</a></li>
        </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
    </div>
          
          <div class="cart-btn">
              <span class="nav-icon">
                  <i class="fas fa-cart-plus" style="margin-top: 100px;"></i>
              </span> 
              <div class="cart-items">0</div>
          </div>
      </div>
  </nav>
</header>
<main>
    <!-- Home -->
    <section class="home">
        <div class="spring-sales">

        </div>
    </section>

    <!-- End Home -->
</main>

<section class="main swiper mySwiper">
  <div class="wrapper swiper-wrapper">
    <div class="slide swiper-slide">
      <img src="https://i1.adis.ws/i/Marc_Jacobs/MJI_M0017027_263_F8F8F8_1-1_MAIN" alt="" class="image" />
      <div class="image-data">
        <span class="text">Tote bags and Accessories.</span>
        <h2>
          We're Totes into it and so are you <br />
          <p class="pees" style="font-size: 2vw;">Extra 20% for customization</p>
        </h2>
        <a href="tote" class="button">Shop Now</a>
      </div>
    </div>

    <div class="slide swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/2248/5009/products/H129213_main_4000x.jpg?v=1645852513" alt="" class="image" />
      <div class="image-data">
        <span class="text">The Perfect Handbag for Your Next Adventure</span>
        <h2>
          Designed to Elevate Your Style and Simplify Your Life<br />
          <p class="pees" style="font-size: 2vw;">Free Shipping on All Orders</p>
        </h2>
        <a href="handbag" class="button">Shop Now</a>
      </div>
    </div>

    <div class="slide swiper-slide">
      <img src="https://cdn.meshopstore.com/s/files/coolifeluggageus/pictures/source/b1ab1e89/71af0fdd/dc0a4f5a-46e6-4887-8e5b-fe8495774553.jpg" alt="" class="image" />
      <div class="image-data">
        <span class="text">Travel in Style with Our Suitcases</span>
        <h2>
          Make Every Trip a Fashion Statement<br />
          <p class="pees" style="font-size: 2vw;">Durable, Lightweight, and Ready for Adventure</p>
        </h2>
        <a href="suitcase" class="button">Shop Now</a>
      </div>
    </div>

    <div class="slide swiper-slide">
      <img src="https://static-ssp.supersports.co.th/media/catalog/product/s/s/ssp64113876-1.jpg" alt="" class="image" />
      <div class="image-data">
        <span class="text">Carry Your "Entire" Life in Our Duffel Bags</span>
        <h2>
          Because Who Needs Packing Light Anyway?<br />
          <p class="pees" style="font-size: 2vw;">Unleash Your Inner Travelholic Today</p>
        </h2>
        <a href="duffel" class="button">Shop Now</a>
      </div>
    </div>

    <div class="slide swiper-slide">
      <img src="https://i02.hsncdn.com/is/image/HomeShoppingNetwork/rocs1200/samantha-brown-packing-cube-3-piece-set-d-2023020609452171~824588.jpg" alt="" class="image" />
      <div class="image-data">
        <span class="text">Stay Organized on the Go with Our Packing Cubes</span>
        <h2>
          Because You Deserve a Little Less Chaos and a Lot More Calm<br />
          <p class="pees" style="font-size: 2vw;">Effortlessly Organize Your Travel Essentials</p>
        </h2>
        <a href="packing-cube" class="button">Shop Now</a>
      </div>
    </div>

  </div>
  
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
</section>
  
      <!-- Swiper JS -->
      <script src="JS/swiper-bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  
      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
    <!-- Brand Box -->
    <section>

        <div class="brand-box">
          <div class="brand-news" style="color: aliceblue;"> 
            <h2>Our Special Brands</h2>
          </div>
            <div class="brands">
              <img src="/Bronx Luggage/E proj/images/Brands/adidas.png">
              <img src="/Bronx Luggage/E proj/images/Brands/coach.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/dalik.jpeg">                   
              <img src="/Bronx Luggage/E proj/images/Brands/herschel.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/kenneth cole.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/kipling.jpeg">                    
              <img src="/Bronx Luggage/E proj/images/Brands/lululemon.jpeg">
            </div>
            <div class="brand-bottom">
              <img src="/Bronx Luggage/E proj/images/Brands/mk.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/nautica.jpeg">                    
              <img src="/Bronx Luggage/E proj/images/Brands/nike.png">
              <img src="/Bronx Luggage/E proj/images/Brands/ppuma.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/undeerarmour.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/travelpro.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/timbuk2.jpeg">
              <img src="/Bronx Luggage/E proj/images/Brands/rockland.jpeg">
                <img src="/Bronx Luggage/E proj/images/Brands/samsonite.jpeg">
            </div>
           <div class="brand-link">
            <a href="#">Click link to order</a>
           </div> 
        </div>
    </section>


    <section>
          <!-- / --------------- Spring Collection ---------------- */* -->
          <div class="spring-box">
            <div class="spring-name" style="
            font-family: 'Satisfy', cursive;  font-size: 3vw;">
                <h1>All New Spring Collection</h1>
            </div>
            <p class="pees">Bringing you the best of the best</p>

            
            <!-- ---Slider1--- -->
         <div class="slider1">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carousel">
                  <img class="first_img" src="https://images.dresshead.com/images/womensbags/Black%20Handbags/880030022/other/large/4.jpg" alt="img" draggable="false">
                  <img src="https://ng.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/35/071139/1.jpg?1458" alt="img" draggable="false">
                  <img src="https://www.thepaperstore.com/mm5/graphics/00000001/001709/001709_1000618094_NoColor_400x500.jpg" alt="img" draggable="false">
                  <img src="https://mldvwwasb8tu.i.optimole.com/cb:esbD~6200b/w:1200/h:1200/q:mauto/https://travelaway.me/wp-content/uploads/2022/03/steamline-entrepreneur-carry-on.jpg" alt="img" draggable="false">
                  <img src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/zoom_image_1/3000x2000/17f82f742ffe127f42dca9de82fb58b1/N/L/1666251919_M0446CRIW_M928_E01_ZH.jpg" alt="img" draggable="false">
                  <img src="https://prod.radleylondon.com/media/catalog/product/h/7/h7511109.jpg?optimize=medium&fit=bounds&height=&width=?width=250" alt="img" draggable="false">
                  <img src="https://www.sojoee.com/wp-content/uploads/2023/02/BG-1272-Blue-unisex-backpacks.jpg" alt="img" draggable="false">
                  <img src="https://ng.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/65/0622921/1.jpg?6955" alt="img" draggable="false">
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
              </div>
         </div>
              

    <!-- /* --------------- End of Spring Collection ---------------- */ -->
    </section>


        <!-- ------------- catergories --------------------- -->
     

    <!-- -----------------products---------------------- -->

      <!-- products -->
      <section class="products">
        <div class="psection-title">
            <h2 id="tote">Check Out Our Collection</h2>

            <div class="dropdown">
                  <button class="dropbtn">Categories</button>
                  <div class="dropdown-content">
                    <a href="#" data-category="Travel Accessories">Travel Accessories</a>
                    <a href="#" data-category="Suitcases">Suitcases</a>
                    <a href="#" data-category="Handbags">Handbags</a>
                    <a href="#" data-category="Duffel Bags">Duffel Bags</a>
                    <a href="#" data-category="Backpacks">Backpacks</a></div>
                  </div>
              </div>

              <form class="filter-form">
                <label for="price-filter">Filter by Price:</label>
                <input type="number" id="price-filter" name="price-filter" placeholder="  What's your budget">
              
                <label for="color-filter"></label>
                <select id="color-filter" name="color-filter">
                  <option value="">All Colors</option>
                  <option value="Black">Black</option>
                  <option value="White">White</option>
                  <option value="Silver">Silver</option>
                  <option value="Gold">Gold</option>
                  <option value="Pink">Pink</option>
                  <option value="Green">Green</option>
                  <option value="Red">Red</option>
                  <option value="Blue">Blue</option>
                  <option value="Orange">Orange</option>
                  <option value="Rose Gold">Rose Gold</option>
                  <option value="Purple">Purple</option>
                  <option value="Brown">Brown</option>
                  <option value="Grey">Grey</option>
                  <option value="Gray">Gray</option>
                  <option value="Ash">Ash</option>
                </select>
              
              
                <button type="submit">Filter</button>
              
               
              </form>
              
        </div>
        
        <div class="products-center">
            
        </div>
    </section> 
 

     <!-- cart -->
     <div class="cart-overlay">
      <div class="cart">
          <span class="close-cart">
              <i class="fas fa-window-close"></i>
          </span> 
          <h2>Your cart</h2>
          <div class="cart-content">
              <!-- cart item -->
              <!-- <div class="cart-item">
                  
              </div>
              <-- end of cart item  -->
          </div>
          <div class="cart-footer">
              <h3>your total: $ <span class="cart-total">0</span></h3>
              <button class="clear-cart banner-btn">clear cart</button>
              </div>
          </div>
      </div>

       <!-- Site Map -->
       <div class="landingpage_frame7">
        <img src="Photos/Bronx Logo.png" width="140" height="140"  alt="">

        <h1>SITE MAP</h1>
        <div class="rows">
          <div class="row1">
              <a href="#">Home Page</a>
              <a href="#!men">Men</a>
              <a href="#!women">Women</a>
              <a href="#!accessories">Accessory</a>
              <a href="#!gallery">Gallery</a>
          </div>
          <div class="row2">
              <a href="" ng-click="scrollTo('aboutus')">About Us</a>
              <a href="" ng-click="scrollTo('contactus')">Contact Us</a>
              <a href="#!faq">FAQ's</a>
          </div>
      </div>
        
    </div>
        
<script>
    const carousel = document.querySelector(".carousel"),
    firstImg = carousel.querySelector(".first_img"),
    arrowIcons = document.querySelectorAll(".wrapper i");
    let isDragStart = false, isDragging = false, prevPageX, prevScrollLeft, positionDiff;
    const showHideIcons = () => {
        // showing and hiding prev/next icon according to carousel scroll left value
        let scrollWidth = carousel.scrollWidth - carousel.clientWidth; // getting max scrollable width
        arrowIcons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
        arrowIcons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
    }
    arrowIcons.forEach(icon => {
        icon.addEventListener("click", () => {
            let firstImgWidth = firstImg.clientWidth + 14; // getting first img width & adding 14 margin value
            // if clicked icon is left, reduce width value from the carousel scroll left else add to it
            carousel.scrollLeft += icon.id == "left" ? -firstImgWidth : firstImgWidth;
            setTimeout(() => showHideIcons(), 60); // calling showHideIcons after 60ms
        });
    });
</script>

<script src="/Bronx Luggage/E proj/app.js"></script>
