    <header id="header_gen">
      <nav class="navbar">
        <div class="content">
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div> 
                    <li><a class="nav-link nav-link-ltr" href="#" ng-click="refreshPage()">Home</a></li>
                    <li><a class="nav-link nav-link-ltr" style="margin-right: 3rem;" href="#!men" ng-click="refreshPage()">Men</a></li>
                    <li><a class="nav-link nav-link-ltr" style="margin-right: 3rem;" href="#!women" ng-click="refreshPage()">Women</a></li>
                    <li><p class="" style="font-family: 'Dancing Script', cursive; font-weight: 5rem; font-size: 30px; padding: 1.5rem 5rem 2rem 5rem; color: #dba392;" ng-click="refreshPage()">Accessories</p></li>
                    <li><a class="nav-link nav-link-ltr" href="#!gallery" ng-click="refreshPage()">Gallery</a></li>
            </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
        </div>
              
              <div class="cart-btn">
                  <span class="nav-icon">
                      <i class="fas fa-cart-plus" style="margin-top: 100px;"></i>
                  </span> 
                  <div class="cart-items">0</div>
              </div>
          </div>
      </nav>
    </header>
    <main>
        <!-- Home -->
        <section class="home">
            <div class="spring-sales">

            </div>
        </section>

        <!-- End Home -->
    </main>

    <section class="main swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="https://i5.walmartimages.com/asr/51b5f667-3371-4c9c-b7ee-1a31004131f0.f83d016ac503ef48f0abe7af759f8da7.jpeg?odnHeight=784&odnWidth=580&odnBg=FFFFFF" alt="" class="image" />
          <div class="image-data">
            <span class="text">Anti-Theft Travel Luggage Tags</span>
            <h2>
              Keep your luggage safe, and your in-laws away!<br />
              <p style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="anti-theft-travel-luggage-tags" class="button">Shop Now</a>
          </div>
       </div>
        
       <div class="slide swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0335/5987/1619/products/Prosafe_800_10250705_b2b72005-24db-48ed-a2ab-17b08cf8b3bb_1600x.jpg?v=1677680850" alt="" class="image" />
          <div class="image-data">
            <span class="text">Keep your belongings safe with bag locks.</span>
            <h2>
              Don't be a lock-smith, lock your bag with a bag lock!<br />
              <p class="pees" style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="bag-locks" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/1480/3296/products/Slate_1_F6_1800x1800.jpg?v=1674158540" alt="" class="image" />
          <div class="image-data">
            <span class="text">Passport Holders.</span>
            <h2>
              Keep your passport close and your worries far, far away.<br />
              <p class="pees" style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="passport-holders" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://s3-ap-southeast-2.amazonaws.com/wc-prod-pim/JPEG_1000x1000/GBPCKCUBEB_globite_packing_cubes_3_pack_black.jpg" alt="" class="image" />
          <div class="image-data">
            <span class="text">Packing Cubes.</span>
            <h2>
              Keep your clothes organized and your suitcase happy with our packing cubes.<br />
              <p class="pees" style="font-size: 2vw;">Don't just pack it, cube it!</p>
            </h2>
            <a href="packing-cubes" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://www.usnews.com/object/image/00000184-7c8a-d140-a7f4-7dca57190000/gettyimages-1225216857.jpg?update-time=1668536751596&size=responsive640" alt="" class="image" />
          <div class="image-data">
            <span class="text">Toiletry bags for travel.</span>
            <h2>
              Because you don't want your toothbrush making friends with your shoes!<br />
              <p class="pees" style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="toiletry-bags" class="button">Shop Now</a>
          </div>         
        </div>

      </div>
      
            <div class="swiper-button-next nav-btn"></div>
            <div class="swiper-button-prev nav-btn"></div>
            <div class="swiper-pagination"></div>
    </section>
      
          <!-- Swiper JS -->
          <script src="JS/swiper-bundle.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

          <!-- Initialize Swiper -->
          <script>
            var swiper = new Swiper(".mySwiper", {
              slidesPerView: 1,
              loop: true,
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
            });
          </script>

        <section>
              <!-- / --------------- Spring Collection ---------------- */* -->
              <div class="spring-box">
                <div class="spring-name" style="
                font-family: 'Satisfy', cursive;  font-size: 3vw;">
                    <h1>All New Spring Collection</h1>
                </div>
                <p class="pees">Bringing you the best of the best</p>

                
                <!-- ---Slider1--- -->
             <div class="slider1">
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <div class="carousel">
                      <img class="first_img" src="https://www.ikea.com/ae/en/images/products/kluddare-toiletry-bag-set-of-4-transparent__1012546_pe828899_s5.jpg" alt="img" draggable="false">
                      <img src="https://m.media-amazon.com/images/I/71Vc4+hv3NL._SL1500_.jpg" alt="img" draggable="false">
                      <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/25/3033012/1.jpg?2706" alt="img" draggable="false">
                      <img src="https://cdn.shopify.com/s/files/1/0362/2461/products/engraved-passport-holder1_5000x.jpg?v=1654720346" alt="img" draggable="false">
                      <img src="https://uploads.notanotherbill.com/_width800/Luggage-Tag-Pink.jpg" alt="img" draggable="false">
                      <img src="https://prag.global/wp-content/uploads/2017/12/PRAG_Traveler_Luggage_Scale_2.jpg" alt="img" draggable="false">
                      <img src="https://sc01.alicdn.com/kf/H3d109d392c9d45109967705f3cbdadc1v/223716117/H3d109d392c9d45109967705f3cbdadc1v.jpg" alt="img" draggable="false">
                      <img src="https://cdn.shopify.com/s/files/1/0708/5295/products/Cargo2pc_GardeniaGreen_01_474c74e6-4cef-483f-b0fa-8dcd042fe9ce_1200x.jpg?v=1679143949" alt="img" draggable="false">
                    </div>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                  </div>
             </div>
                  

        <!-- /* --------------- End of Spring Collection ---------------- */ -->
        </section>


            <!-- ------------- catergories --------------------- -->
         

        <!-- -----------------products---------------------- -->

          <!-- products -->
          <section class="products">
            <div class="psection-title">
                <h2 id="tote">Check Out Our Collection</h2>

                <div class="dropdown">
                  <button class="dropbtn">Categories</button>
                  <div class="dropdown-content">
                    <a href="#" data-category="Travel Accessories">Travel Accessories</a>
                    <a href="#" data-category="Suitcases">Suitcases</a>
                    <a href="#" data-category="Handbags">Handbags</a>
                    <a href="#" data-category="Duffel Bags">Duffel Bags</a>
                    <a href="#" data-category="Backpacks">Backpacks</a></div>
                  </div>
                </div>
                
                
                
                 <form id="filter-form">
                  <label for="price-filter">Filter by Price:</label>
                  <input type="number" id="price-filter" name="price-filter" placeholder="  What's your budget">
                
                  <label for="color-filter"></label>
                  <select id="color-filter" name="color-filter">
                    <option value="">All Colors</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Silver">Silver</option>
                    <option value="Gold">Gold</option>
                    <option value="Pink">Pink</option>
                    <option value="Green">Green</option>
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Orange">Orange</option>
                    <option value="Rose Gold">Rose Gold</option>
                    <option value="Purple">Purple</option>
                    <option value="Brown">Brown</option>
                    <option value="Grey">Grey</option>
                    <option value="Gray">Gray</option>
                    <option value="Ash">Ash</option>
                  </select>
                
                
                  <button type="submit">Filter</button>
                
                 
                </form>

            </div>
            
            <div class="products-center"> </div>
        </section> 


        <!-- cart -->
        <div class="cart-overlay">
          <div class="cart">
              <span class="close-cart">
                  <i class="fas fa-window-close"></i>
              </span> 
              <h2>Your cart</h2>
              <div class="cart-content">
                  <!-- cart item -->
                  <!-- <div class="cart-item">
                      
                  </div>
                  <-- end of cart item  -->
              </div>
              <div class="cart-footer">
                  <h3>your total: $ <span class="cart-total">0</span></h3>
                  <button class="clear-cart banner-btn">clear cart</button>
                  </div>
              </div>
          </div>

           <!-- Site Map -->
        <div class="landingpage_frame7">
          <img src="Photos/Bronx Logo.png" width="140" height="140"  alt="">
  
          <h1>SITE MAP</h1>
          <div class="rows">
            <div class="row1">
                <a href="#">Home Page</a>
                <a href="#!men">Men</a>
                <a href="#!women">Women</a>
                <a href="#!accessories">Accessory</a>
                <a href="#!gallery">Gallery</a>
            </div>
            <div class="row2">
                <a href="" ng-click="scrollTo('aboutus')">About Us</a>
                <a href="" ng-click="scrollTo('contactus')">Contact Us</a>
                <a href="#!faq">FAQ's</a>
            </div>
        </div>
          
      </div>
            <script>
                const carousel = document.querySelector(".carousel"),
                firstImg = carousel.querySelector(".first_img"),
                arrowIcons = document.querySelectorAll(".wrapper i");
                let isDragStart = false, isDragging = false, prevPageX, prevScrollLeft, positionDiff;
                const showHideIcons = () => {
                    // showing and hiding prev/next icon according to carousel scroll left value
                    let scrollWidth = carousel.scrollWidth - carousel.clientWidth; // getting max scrollable width
                    arrowIcons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
                    arrowIcons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
                }
                arrowIcons.forEach(icon => {
                    icon.addEventListener("click", () => {
                        let firstImgWidth = firstImg.clientWidth + 14; // getting first img width & adding 14 margin value
                        // if clicked icon is left, reduce width value from the carousel scroll left else add to it
                        carousel.scrollLeft += icon.id == "left" ? -firstImgWidth : firstImgWidth;
                        setTimeout(() => showHideIcons(), 60); // calling showHideIcons after 60ms
                    });
                });
            </script>

<!-- <script src="/Bronx Luggage/E proj/nav.js"></script> -->
<script src="/Bronx Luggage/E proj/app.js"></script>
