     <header id="header_gen">
      <nav class="navbar">
        <div class="content">
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div> 
                    <li><a class="nav-link nav-link-ltr" href="#" ng-click="refreshPage()">Home</a></li>
                    <li><p class="" style="font-family: 'Dancing Script', cursive; font-weight: 5rem; font-size: 30px; padding: 1.5rem 5rem 2rem 5rem; color: #dba392;" ng-click="refreshPage()">Men</p></li>
                    <li><a class="nav-link nav-link-ltr" style="margin-right: 3rem;" href="#!women" ng-click="refreshPage()">Women</a></li>
                    <li><a class="nav-link nav-link-ltr" href="#!accessories" ng-click="refreshPage()">Accessories</a></li>
                    <li><a class="nav-link nav-link-ltr" href="#!gallery" ng-click="refreshPage()">Gallery</a></li>
            </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
        </div>
              
              <div class="cart-btn">
                  <span class="nav-icon">
                      <i class="fas fa-cart-plus" style="margin-top: 100px;"></i>
                  </span> 
                  <div class="cart-items">0</div>
              </div>
          </div>
      </nav>
    </header>
    <main>
        <!-- Home -->
        <section class="home">
            <div class="spring-sales">

            </div>
        </section>

        <!-- End Home -->
    </main>

    <section class="main swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1572280859-messenger-bags-1-1572280854.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="" class="image" />
          <div class="image-data">
            <span class="text">Messenger bags for Men.</span>
            <h2>
              Say it with me, "I'm a messenger bag man!"<br />
              <p class="pees" style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="messenger-bags-men" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://www.commergo.com/11872-thickbox_default_2x/leather-man-bag-tours.jpg" alt="" class="image" />
          <div class="image-data">
            <span class="text">Man up your style with our purses</span>
            <h2>
              Because sometimes pockets aren't enough<br />
              <p class="pees" style="font-size: 2vw;">Free shipping on all orders</p>
            </h2>
            <a href="men-purse" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://media.gq-magazine.co.uk/photos/5da73362424153000852b1ee/1:1/w_1000,h_1000,c_limit/20191016-Suitcase-06.jpg" alt="" class="image" />
          <div class="image-data">
            <span class="text">Travel in style with our men's suitcases</span>
            <h2>
              Pack your bags and let's jet set <br />
              <p class="pees" style="font-size: 2vw;">Durable, Lightweight and Ready for Adventure</p>
            </h2>
            <a href="suitcases" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://m.media-amazon.com/images/I/81XC6HGMMKL._AC_UY780_.jpg" alt="" class="image" />
          <div class="image-data">
            <span class="text">Pack up and go with our Duffel Bags.</span>
            <h2>
              Don't be a drag, just be a Duffel.<br />
              <p class="pees" style="font-size: 2vw;">Get 10% off your first purchase</p>
            </h2>
            <a href="duffel" class="button">Shop Now</a>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="https://cf.shopee.com.my/file/8e15981154ccf847c88ad74b806cec36" alt="" class="image" />
          <div class="image-data">
            <span class="text">Upgrade Your Travel Game</span>
            <h2>
              Get Ready for Your Next Adventure with Our Luggage Accessories<br />
              <p class="pees" style="font-size: 2vw;">Free Shipping on All Orders Over $50</p>
            </h2>
            <a href="luggage-accessories" class="button">Shop Now</a>
          </div>          
        </div>

      </div>
      
            <div class="swiper-button-next nav-btn"></div>
            <div class="swiper-button-prev nav-btn"></div>
            <div class="swiper-pagination"></div>
    </section>
      
          <!-- Swiper JS -->
          <script src="JS/swiper-bundle.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

          <!-- Initialize Swiper -->
          <script>
            var swiper = new Swiper(".mySwiper", {
              slidesPerView: 1,
              loop: true,
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
            });
          </script>
        <!-- Brand Box -->
        <section>

            <div class="brand-box">
              <div class="brand-news" style="color: aliceblue;"> 
                <h2>Our Special Brands</h2>
              </div>
                <div class="brands">
                                <img src="/Bronx Luggage/E proj/images/Brands/adidas.png">
                                <img src="/Bronx Luggage/E proj/images/Brands/coach.jpeg">
                                <img src="/Bronx Luggage/E proj/images/Brands/dalik.jpeg">                   
                                <img src="/Bronx Luggage/E proj/images/Brands/herschel.jpeg">
                                <img src="/Bronx Luggage/E proj/images/Brands/kenneth cole.jpeg">
                                <img src="/Bronx Luggage/E proj/images/Brands/kipling.jpeg">                    
                                <img src="/Bronx Luggage/E proj/images/Brands/lululemon.jpeg">
                </div>
                <div class="brand-bottom">
                    <img src="/Bronx Luggage/E proj/images/Brands/mk.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/nautica.jpeg">                    
                    <img src="/Bronx Luggage/E proj/images/Brands/nike.png">
                    <img src="/Bronx Luggage/E proj/images/Brands/ppuma.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/undeerarmour.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/travelpro.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/timbuk2.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/rockland.jpeg">
                    <img src="/Bronx Luggage/E proj/images/Brands/samsonite.jpeg">
                </div>
               <div class="brand-link">
                <a href="#">Click link to order</a>
               </div> 
            </div>
        </section>


        <section>
              <!-- / --------------- Spring Collection ---------------- */* -->
              <div class="spring-box">
                <div class="spring-name" style="
                font-family: 'Satisfy', cursive;  font-size: 3vw;">
                    <h1>All New Spring Collection</h1>
                </div>
                <p class="pees">Bringing you the best of the best</p>

                
                <!-- ---Slider1--- -->
             <div class="slider1">
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <div class="carousel">
                      <img class="first_img" src="https://media.gq-magazine.co.uk/photos/61b9f0b3b37c3f8bda7b923b/master/w_1920,h_1280,c_limit/Suitcases_0008_Amazon%20basics.jpg" alt="img" draggable="false">
                      <img src="https://ng.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/35/071139/1.jpg?1458" alt="img" draggable="false">
                      <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1655153144-6-1655153140.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="img" draggable="false">
                      <img src="https://cdn.shopify.com/s/files/1/0435/2222/8392/files/Samsonite-Stryde-Glider-Long-Journey-Suitcase-slate-blue.jpg" alt="img" draggable="false">
                      <img src="https://images.stylight.net/image/upload/t_web_product_330x440max_nobg/q_auto:eco,f_auto/r8qkyp6ysmufkk7buvyh.jpg" alt="img" draggable="false">
                      <img src="https://cdn.0brandcommerce.com/108575_L.jpg" alt="img" draggable="false">
                      <img src="https://media.wired.com/photos/5b72139a4177c301e3b9b193/master/w_1280,c_limit/Jansport_05.jpg" alt="img" draggable="false">
                      <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c712ccd3-b037-4f7b-a101-1d97c61053ce/brasilia-95-training-duffel-bag-large-95l-N3dD2G.png    " alt="img" draggable="false">
                    </div>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                  </div>
             </div>
                  

        <!-- /* --------------- End of Spring Collection ---------------- */ -->
        </section>


            <!-- ------------- catergories --------------------- -->
         

        <!-- -----------------products---------------------- -->

          <!-- products -->
          <section class="products">
            <div class="psection-title">
                <h2 id="tote">Check Out Our Collection</h2>

                <div class="dropdown">
                  <button class="dropbtn">Categories</button>
                  <div class="dropdown-content">
                    <a href="#" data-category="Travel Accessories">Travel Accessories</a>
                    <a href="#" data-category="Suitcases">Suitcases</a>
                    <a href="#" data-category="Handbags">Handbags</a>
                    <a href="#" data-category="Duffel Bags">Duffel Bags</a>
                    <a href="#" data-category="Backpacks">Backpacks</a></div>
                  </div>
                </div>
                
                
                
                 <form id="filter-form">
                  <label for="price-filter">Filter by Price:</label>
                  <input type="number" id="price-filter" name="price-filter" placeholder="  What's your budget">
                
                  <label for="color-filter"></label>
                  <select id="color-filter" name="color-filter">
                    <option value="">All Colors</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Silver">Silver</option>
                    <option value="Gold">Gold</option>
                    <option value="Pink">Pink</option>
                    <option value="Green">Green</option>
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Orange">Orange</option>
                    <option value="Rose Gold">Rose Gold</option>
                    <option value="Purple">Purple</option>
                    <option value="Brown">Brown</option>
                    <option value="Grey">Grey</option>
                    <option value="Gray">Gray</option>
                    <option value="Ash">Ash</option>
                  </select>
                
                
                  <button type="submit">Filter</button>
                
                 
                </form>

            </div>
            
            <div class="products-center"> </div>
        </section> 

        <!-- cart -->
        <div class="cart-overlay">
          <div class="cart">
              <span class="close-cart">
                  <i class="fas fa-window-close"></i>
              </span> 
              <h2>Your cart</h2>
              <div class="cart-content">
                  <!-- cart item -->
                  <!-- <div class="cart-item">
                      
                  </div>
                  <-- end of cart item  -->
              </div>
              <div class="cart-footer">
                  <h3>your total: $ <span class="cart-total">0</span></h3>
                  <button class="clear-cart banner-btn">clear cart</button>
                  </div>
              </div>
          </div>

           <!-- Site Map -->
        <div class="landingpage_frame7">
          <img src="Photos/Bronx Logo.png" width="140" height="140"  alt="">
  
          <h1>SITE MAP</h1>
          <div class="rows">
            <div class="row1">
                <a href="#">Home Page</a>
                <a href="#!men">Men</a>
                <a href="#!women">Women</a>
                <a href="#!accessories">Accessory</a>
                <a href="#!gallery">Gallery</a>
            </div>
            <div class="row2">
                <a href="" ng-click="scrollTo('aboutus')">About Us</a>
                <a href="" ng-click="scrollTo('contactus')">Contact Us</a>
                <a href="#!faq">FAQ's</a>
            </div>
        </div>
          
      </div>

            <script>
                const carousel = document.querySelector(".carousel"),
                firstImg = carousel.querySelector(".first_img"),
                arrowIcons = document.querySelectorAll(".wrapper i");
                let isDragStart = false, isDragging = false, prevPageX, prevScrollLeft, positionDiff;
                const showHideIcons = () => {
                    // showing and hiding prev/next icon according to carousel scroll left value
                    let scrollWidth = carousel.scrollWidth - carousel.clientWidth; // getting max scrollable width
                    arrowIcons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
                    arrowIcons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
                }
                arrowIcons.forEach(icon => {
                    icon.addEventListener("click", () => {
                        let firstImgWidth = firstImg.clientWidth + 14; // getting first img width & adding 14 margin value
                        // if clicked icon is left, reduce width value from the carousel scroll left else add to it
                        carousel.scrollLeft += icon.id == "left" ? -firstImgWidth : firstImgWidth;
                        setTimeout(() => showHideIcons(), 60); // calling showHideIcons after 60ms
                    });
                });
            </script>
     
     <script src="/Bronx Luggage/E proj/app.js"></script>

