*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arapey', serif;
}

.landingpage_frame1 header{
    display: flex;
}

.landingpage_frame1 .main-box{
    width: 85px;
    height: 88px;
    left: 0px;
    top: 0px;
    background: #DFB392;
}

/* this is for the nav menus in frame1 */
.menu{
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 70px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: #000;
}

/* for the bronxlogo down to the search bar in frame1 */
.heart{
    margin-top: 40px;
    margin-left: 50px;
}

/* this is for the visit count */
.visit_counter{
    margin-top: 44px;
    border: 2px solid black;
    background-color: #DFB392;
    height: 26px;
    padding: 5px;
}

.person{
    margin-top: 44px;
    margin-left: 60px;
    margin-right: 15px;
}

.search_bar{
    display: flex;
    width: 200px;
    height: 34px;
    padding: 10px;
    background: rgba(223, 179, 146, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin-top: 30px;
    margin-left: -30px;
}

.search_bar p{
    margin-left: 6px;
    margin-right: 89px;
}

.search_bar input{
   width: 140px;
   border: none;
   padding: 5px;
   margin-top: -7px;
   height: 30px;    
   background: rgba(223, 179, 146, 0.1);
}

.search_bar input:focus{
    outline: none;
}

.hamburger{
  display: none;
}

/* These are for the nav options dropdown */
.menu {
    display: flex;
}

.dropdown{
    margin-top: 10px;
    margin-bottom: 45px;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out, visibility 0.2s ease-in-out;
  }
  
  .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
  
  .menu a:hover {
    color: #A9313B;
  }
  
  .dropdown a:hover {
    color: #A9313B;
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  
/* for the mid space ont the landing page */
.mid-space{
    margin-left: 30px;
    margin-top: 40px;
}

.intro_text h1{
    font-size: 80px;
    text-align: left;
}

.shooting_star{
    margin-left: 40px;
}

.frame1_btns{
    margin-top: 40px;
    border: none;
}

.frame1_btns button{
    border: transparent;
}

.shop_now{
    background: #DFB392;
    display: flex;
    border-radius: 6px;
    padding: 5px 8px;
    text-decoration: none;
    color: #000;
 }

.shop_now p {
    margin-top: 5px;
    margin-right: 20px;
}

.frame1_btns{
    display: flex;
}

.watch{
    text-decoration: none;
    color: #000;
    display: flex;
}

.watch img{
    margin-left: 30px;
    margin-top: 5px;
}

.watch p{
    margin-top: 10px;
    margin-left: 8px;
}

    
    /* This is for the image slider in frame 1 */
.image-display{
    margin-left: 600px;
    margin-top: -470px;
}

#image-slider img {
    max-width: 100%;
    height: auto;
    display: block;
  }

 .big_arrow{
    position: absolute;
    right: 790px;
    top: 420px;
 } 

 .small_arrow{
    position: absolute;
    right: 170px;
    top: 220px;
 }

 .star{
    position: absolute;
    top: 200px;
 }

 .star2{
    position: absolute;
    right: 200px;
    top: 380px;
 }
   
/* this is the styling for the frame 2 section */
.landingpage_frame2{
    cursor: default;
}
.display_section{
    display: flex;
    margin-top: 50px;
    margin-left: 85px;
}

.display p, h2{
    text-align: center;
}


 .discover{
    text-align: center;
    padding: 30px;
    font-weight: bold;
    margin-top: 30px;
 } 

 #pic_slider .owl-item img {
  width: 100%;
  border: 1px solid #EDE9E0;
  border-radius: 7px;
  background: #DCBB9A;
}

#pic_slider{
  max-width: 1300px;
  margin-top: 50px;
  margin-left: 38px;
} 

.text_span{
    text-align: center;
    background-color: #DFB392;
    color: #fff;
    padding: 10px;
}

.text_span span{
margin-right: 10px;
}

/* for the slider images buttons */
#prev,  #next{
    color: #A9313B;
    font-size: 24px;
    background: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1380px;
    font-size: 30px;
    padding: 10px;
  }

  #next {
    right: 0;
  }

  #prev:hover, #next:hover{
    cursor: pointer;
  }

  /* This styling is for frame3 */
   .landingpage_frame3{
    background-color: #f8f6f6;
   }

   .head-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
    padding: 30px 20px 20px 20px;
    justify-content: center;
  }
  
  .variant{
    color: #A9313B;
    font-size: 30px;
    padding: 20px;
}

  .head-text p, .head-text h1 {
    margin: 0;
  }

  .head-text h1{
    text-align: left;
    font-size: 50px;
    color: #000;
    margin-right: 50px;
}

.tops, .bottoms{
  display: flex;
}
  
  .tops p{
    position: relative;
    padding: 10px;
    color: #fff;
    background-color: #DFB392;
    border: 2px solid white;
    z-index: 2;
  }
  
  .bottoms p {
    padding: 10px;
    border: 2px solid white;
    color: #fff;
    background-color: #DFB392;
    position: relative;
    z-index: 1;
  }

  
  /* Frame 4 styling */
.landingpage_frame4{
    margin-top: 60px;
    display: flex;
    height: 600px;
}
  
.landingpage_frame4 h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding: 28px;
}

.landingpage_frame4 p {
    padding: 38px;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    color: #fff;
}

.landingpage_frame4 p span{
    color: #A9313B;
    
}

.about_us{
  background: #DFB392;
}

/* This styling is for frame 5 */
.landingpage_frame5 {
    text-align: center;
  }
  
  .landingpage_frame5 h1 {
    margin-top: 40px;
    font-size: 40px;
    border-bottom: 3px solid #A9313B;
    font-weight: lighter;
    display: inline-block;
  }
  
  .contact_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .contact_info {
    background-color: #A9313B;
    color: #fff;
    margin-right: 20px;
    padding: 10px;
    flex: 1;
  }
  
  .contact_info i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .contact_info h3 {
    margin-top: 10px;
  }
  
  .feedback_container {
    flex: 1;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
  }
  
  textarea {
    height: 200px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #A9313B;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  

/* this is for frame 6 */
.landingpage_frame6 {
    margin-top: 70px;
}
.landingpage_frame6 .border {
    width: 1200px;
    display: block;
    height: 2px;
    margin: 20px auto;
    background: #383737;
}
.landingpage_frame6 h2 {
    margin-top: 50px;
}

.landingpage_frame6 h2 span{
    color: #A9313B;
}

.date{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.time{
    background-image: url(Pictures/timer-container.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    font-size: 70px;
    text-align: center;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    align-items: center;
  }
  

.location{
    margin-top: -32px;
    text-align: center;
    font-size: 22px;
}

.demarcation {
    display: inline-block;
    width: 10px;
    height: 60px;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin:0px 30px 0px 30px;
  }
  
/* Last frame with site maps */
.landingpage_frame7{
    background: #A9313B;
    color: #fff;
    margin-top: 70px;
    padding: 20px;
    height: 300px;
    display: flex;
}

.landingpage_frame7 h1, .landingpage_frame7 img{
    margin-top: 90px;
    margin-left: 90px;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
}

.landingpage_frame7 img{
    margin-top: 60px;
}

.rows{
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
}

.row1, .row2{
    display: grid;
    line-height: 30px;
    margin-left: 200px;
}

.row1 a, .row2 a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.rows a:hover, .row2 a:hover {
  color: #EDE9E0;
}

.rows a::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #EDE9E0; 
  transition: width 0.2s ease-in-out;
}

.rows a:hover::after {
  width: 100%;
}




/* Chukwunna, this thing should work na beg I dey beg */
@media screen and (max-width: 450px) {

  /* This is for frame2 */
  .landingpage_frame2{
    margin-top: 300px;
  }

  .display_section{
    flex-direction: column;
    margin-top: 25px;
    margin-left: 15px;
  }

  .display h2{
    font-size: 18px;
    margin-top: 15px;
  }

  .display p{
    margin-bottom: 15px;
    font-size: 12px;
  }

  .discover{
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
  } 

 #pic_slider .owl-item img {
    width: 70px;
  }

  #prev, #next{
    display: none;
  }

  #pic_slider{
    margin-left: 0;
 } 

  /* This is for frame3 */
  .head-text{
    margin-top: 30px;
    flex-direction: column;
  }

  .variant{
    margin-top: 5px;
    font-size: 18px;
    margin-right: 20px;
}

   .head-text h1{
    text-align: center;
    font-size: 24px;
    margin-right: -5px;
    margin-bottom: 5px;
}

  .item img{
    margin-top: 15px;
    width: 80px;
    height: 80px;
  }

  /* This is for frame4 */
  .shop_picture img {
    max-width: 100%;
    height: auto;
  }

  .about_us p{
    line-height: 1.3rem;
    font-size: 12px;
    padding: 3px;
  }

  .about_us h1{
    font-size: 26px;
    padding: 10px;
  }

  /* This is for frame5 */
  .landingpage_frame5{
    margin-top: 8rem;
    margin-left: 0;
  }

  .contact_container{
    flex-direction: column;
  }

  .feedback_container #contact-form{
    width: 280px;
  }

  /* frame 7 */
  .landingpage_frame7 img{
    width: 80px;
    height: 80px;
    margin-left: 3px;
  }

  .rows{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .row1, .row2{
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
    font-size: 12px;
  }

  .landingpage_frame7 h1{
    margin-left: 10px;
    font-size: 22px;
  }

}

@media screen and (max-width : 670px){

  
  /* This is for frame2 */
  .landingpage_frame2{
  margin-top: 10vh;
  }
  
  .display_section{
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 3vw;
  }
  
  .display img{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  }
  
  .display p, h2{
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  }
  
  .display h2{
  margin-top: 3vh;
  }
  
  .display p{
  margin-bottom: 5vh;
  }
  
  .discover{
  font-weight: bold;
  margin-top: 3vh;
  }
  
  #pic_slider .owl-item img {
  width: 80px;
  }
  
  #prev{
    display: none;
  }
  #next{
  margin-left: -5vw;
  margin-top: 12vh;
  }
  
  #pic_slider{
  margin-left: 1vw;
  }
  
  .text_span{
  text-align: center;
  background-color: #DFB392;
  color: #fff;
  padding: 5px;
  }
  
  /* This is for frame3 */
  .landingpage_frame3{
  margin: 0;
  }
  
  .head-text{
  margin-top: 5vh;
  flex-direction: column;
  }
  
  .variant{
  margin-top: 1vh;
  font-size: 18px;
  margin-right: 10vw;
  }
  
  .head-text h1{
  text-align: center;
  font-size: 24px;
  margin-right: -2vw;
  margin-bottom: 5vh;
  }
  
  .item img{
  margin-top: 3vh;
  width: 80px;
  height: 80px;
  }
  
  /* This is for frame 4 */
  .landingpage_frame4{
  display: flex;
  flex-direction: column;
  }
  
  .shop_picture img {
  max-width: 100%;
  height: auto;
  }
  
  .about_us p{
  line-height: 1.5rem;
  font-size: 12px;
  padding: 1vh;
  }
  
  .about_us h1{
  font-size: 30px;
  padding: 2vh;
  }
  
  /* This is for frame5 */
  .landingpage_frame5{
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-left: 1vw;
  }
  
  .contact_container{
  flex-direction: column;
  }
  
  .feedback_container #contact-form{
  width: 80%;
  }
  
  /* frame 6 */
  .landingpage_frame6 .border {
  display: none;
  }
  
  /* This is for frame 7 */
  .landingpage_frame7 img{
  width: 50px;
  height: 50px;
  margin-left: 1vw;
  }
  
  .rows{
  display: flex;
  margin-left: 2vw;
  margin-top: 1vh;
  }
  
  .row1, .row2{
  margin-left: 1vw;
  margin-right: 2vw;
  color: #000;
  }
  
  .landingpage_frame7 h1{
  margin-left: 2vw;
  }
  
  }

  /* hide the original menu for smaller screens */
  @media screen and (max-width: 789px) {
    .main-box{
      display: none;
    }
  
    header{
      background: #A9313B;
      position: relative; /* Add this */
    }
  
    .menu {
      display: none;
    }
  
    .search_bar, .search{
      display: none;
    }
    
    .hamburger {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 2.4rem;
      margin-right: 3rem;
      justify-content: space-between;
      height: 18px;
      width: 24px;
      cursor: pointer;
    }
    
    /* These are for the bars of the hamburger */
    .hamburger span {
      display: block;
      height: 3px;
      width: 25px;
      background-color: black;
      border-radius: 2px;
      transition: transform 0.3s ease-out;
    }

    /* This is me setting the hamburger's position both when active and inactive */
    
    .hamburger span:nth-child(1) {
      transform: translateY(0);
    }
    
    .hamburger span:nth-child(2) {
      transform: translateY(6px);
    }
    
    .hamburger span:nth-child(3) {
      transform: translateY(12px);
    }
    
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
    
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -6px);
    }
  
    .hamburger.active span{
      z-index: 4;
    }
    
    /* show the hamburger menu links */
    .menu-item {
      display: none;
      padding: 20px 10px 10px 10px;
      width: 200px;
      margin-left: 30px;
      flex-direction: column;
      text-align: left;
    }
  
    .hamburger-nav{
      position: absolute;
      top: 100%; /* Set this to the bottom of the header */
      left: 0; /* Set this to the left of the header */
      width: 100%; /* Set this to cover the entire width of the header */
      border: 1px transparent;
      background-color: #A9313B !important;
      z-index: 3;
    }
    
    .hamburger.active .menu-item {
      display: flex;
    }
  
    .hamburger.active .menu-item a {
     text-decoration: none;
     color: #DCBB9A;
    }
  
  }
  



  @media screen and (max-width: 769px) {
    /* CSS rules for smaller screens */
   /* for frame1 */

   /* .landingpage_frame1{
      margin-bottom: -40px;
   } */
   .intro_text h1{
    font-size: 60px;
  }

  .image-display {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -400px);
  }

  .star {
    top: 236px;
  }
  .star2 {
    right: 40px;
    top: 44px;
  }

  .small_arrow {
    right: 20px;
    top: 257px;
  }

    .display_section {
      flex-direction: column;
      margin-top: -20rem;
      margin-left: 20px;
    }
  
    .display img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .display p, h2{
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
    }
  
    .display h2{
      margin-top: 0;
      margin-bottom: 10px;
    }
  
    .display p{
      margin-bottom: 15px;
    }

    /* frame2 */
    #pic_slider .owl-item img {
      width: 100%;
    }
  
    #prev {
      display: none;
    }
  
    #next {
      display: none;
    }
  
    #pic_slider {
      margin-left: -2px;
      margin-top: 27rem;
    }
  
    .text_span{
      margin-top: 20px;
      text-align: center;
    }
  
    .text_span span{
      margin-right: 10px;
    }

    /* For frame3 */
    
    .landingpage_frame3 {
      margin-top: -20rem;
      margin-bottom: 17rem;
    }
  
    .head-text {
      margin-top: 0;
      flex-direction: column;
    }
  
    .variant{
      margin-top: 30px;
      font-size: 30px;
      margin-right: 0;
    }
  
    .head-text h1{
      text-align: center;
      font-size: 50px;
      margin-right: 0;
      margin-bottom: 0;
    }
  
    .item img{
      margin-top: 30px;
      width: 150px;
      height: 150px;
    }
  
    .owl-nav{
      display: none;
    }
  
    /* For frame4 */
    .landingpage_frame4 {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
    .shop_picture img {
      max-width: 100%;
      height: auto;
    }
  
    .about_us {
      max-width: 100%;
      text-align: center;
      margin-top: 30px;
    }
  
    .about_us p{
      font-size: 16px;
    }
  
    .about_us h1{
      font-size: 40px;
      margin-bottom: 0;
    }

    /* Frame 5 */
  
    .landingpage_frame5{
      margin-top: 200px;
      margin-left: 0;
    }
  
    .contact_container{
      flex-direction: column;
    }
  
    .feedback_container #contact-form{
      width: 100%;
    }

    /* Frame6 */
    .landingpage_frame6 .border {
      display: none;
    }

    /* Frame7 */
  
    .landingpage_frame7 img{
      width: auto;
      height: auto;
      margin-left: 0;
    }
  
    .rows{
      margin-right: 2rem;
      margin-top: 20px;
    }
  
    .row1, .row2{
      margin-left: 2rem;
      margin-right: 0;
      color: #000;
      text-align: center;
    }

    /* frame7 */
  
    .landingpage_frame7 h1{
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  
  
 /* Style for men, women and accessory page  */

 #header_gen{
  background: rgba(0, 0, 0, 0);
  color: white;
}


.navbar {
  position: sticky;
  top: 0;
  height: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffffff00;
  color: #031D44;
  z-index: 2;
}
.navbar ul{
  list-style: none;
  display: flex;
}
ul i{
  font-size: 1.5rem;
  position: relative;
  margin-left: 2rem;
 margin-top: 2.5rem;

}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar.sticky{
  background: rgba(0, 0, 0, 0);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  color: rgba(0, 0, 0, 0);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.nav-link {
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 40px 40px 40px;
  margin: 0px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #DFB392;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 50%;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.swiper-button-next, .swiper-button-prev{
  padding: 1.7rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  right: 40px;
  cursor: pointer;
  z-index: 1;
}
.cart-items {
  z-index: 1;
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu-list li a{
  font-size: 1rem;
}




/* main{
  width: auto;
  height: 100vh;
  background:   #a9313b ;
  color: white;
}
 */

.btn{
  border: none;
  width: 9rem;
  height: 3rem;
}
.home-btn{
  position: absolute;
  left: 10%;
  top: 80%;
  background-color: #b3b38e;
  color: #ffffff;
  font-family: cursives;
}
.home-btn:hover{
  font-size: 15px;
  background-color: #ffffff;
  color: #b3b38e;
}
.home img{
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 30%;
  height: 37rem;
}
.brand-box{
  width: 100%;
  height: auto;
  background-color: #000000;
  margin: auto;

}
.brands{
 display: flex;
 margin-left: 2rem;
 justify-content: center;
 align-items: center;
 padding-top: 1rem;
}
.brands img{
  height: 8%;
  width: 13%;
  padding: 1rem 1rem 1rem;
}
.brand-bottom{
  display: flex;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}  
.brand-bottom img{
  height: 8%;
  width: 10%;
  padding: 1rem 1rem 1rem;
}  

.brand-link{
  display: flex;
  justify-content: center;
  align-items: center;

}

.brand-news{
  display: flex;
  justify-content: center;
  align-items: center;

}
.brand-news h2{
    font-size: 2.5vw;
    font-family: 'Montserrat Alternates', sans-serif;
}

.brand-link a{
  text-decoration: none;
  color: white;
}
.brand-link a:hover{
  color: #b3b38e;
}

.spring-box{
  width: 100%;
  height: auto;
  background: #f5f5f7;  
}

.spring-name, .pees{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DFB392;
}

.spring-name h1{
  font-family: 'Moon Dance', cursive;
 }

.spring-box p{
  padding-bottom:1rem ;
}

/* --------------slide1------------------ */

.slider1{
  padding-bottom: 3rem;
}

.spring-box .wrapper{
  margin: 0 auto;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #a9313b;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #b3b38e;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  border-radius: 30px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}


/* -------------------- Catergories-------------------- */

.products-slider{
background-color: #f5f5f7;
padding: 0px 20px;
box-sizing: border-box;
}
.slider-heading{
font-family:Arial, Helvetica, sans-serif;
display: flex;
flex-wrap: wrap;
max-width: 1200px;
margin: 0px auto;
  padding:0px 20px;
}
.slider-heading h3{
font-size: 1.75rem;
color: #1d1d1f;
font-weight: 500;
letter-spacing: 0.5px;
line-height:34px;
}
.slider-heading h3 span{
color: #6e6e73;
}
.product-box{
display: flex;
flex-direction: column;
width: 400px;
text-decoration: none;
background-color: #ffffff;
border-radius: 20px;
margin: 20px;
padding: 25px;
box-sizing: border-box;
box-shadow: 2px 2px 8px rgba(0,0,0,0.03);
border: 1px solid rgba(0,0,0,0.08);
transition: all ease 0.3s;
overflow: hidden;
}
.product-box:hover{
box-shadow: 2px 2px 18px rgba(0,0,0,0.10);
transform: scale(1.008);
transition: all  0.3s ease;
}
.product-box strong{
color: #29292c;
font-size: 1.75rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin-top: 24px;
}
.product-box img{
width: 210px;
  height:250px;
   padding:20px 0px;
object-fit: contain;
object-position: center;
margin: 20px auto;
}
.available-colors{
display: flex;
justify-content: center;
align-items: center;
}
.available-colors .product-color{
width: 10px;
height: 10px;
border-radius: 50%;
display: flex;
border: 1px solid rgba(0,0,0,0.1);
box-shadow: inset 2px 2px 30px rgba(0,0,0,0.03);
margin: 3px;
}
.buy-price{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0px 0px 0px;
}
.buy-price p{
color: #6e6e73;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.9rem;
  max-width:250px;
line-height:20px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.product-box a{
text-decoration: none;
display: flex;
flex-direction: column;
}
.buy-price .buy-btn{
color: #ffffff;
background-color: #0071e3;
text-decoration: none;
width: 80px;
height: 40px;
  padding:0px;
  margin:0px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.lSPager{
display:none;
}
.lSAction > a {

background-color:#00000033;
width:50px;
height:50px;
border-radius:50%;
opacity:0.8;
background-image:none;
display: flex;
justify-content: center;
align-items: center;
}
.lSAction > a::after{
position:absoult;
content:'';
margin:auto;
border: solid #ffffff;
border-width: 0 4px 4px 0;
display: inline-block;
padding: 5px;
}
.lSAction > .lSPrev::after {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.lSAction > .lSNext::after {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.explore-products{
height: 530px;
position: relative;
box-shadow: 2px 2px 15px rgba(0,0,0,0.10);
box-sizing:border-box;
    }
.explore-products strong{
z-index: 2;
}
.explore-img{
width:100% !important;
height: 100% !important;
position: absolute;
left: 0px;
top: 0px;
z-index: 1;
}
.explore-img img{
width:100% !important;
height: 100% !important;
object-fit: cover;
object-position: center;
margin: 0px;
padding: 0px;
}
/*making-responsive-css-------*/
@media(max-width:600px){
.slider-heading h3{
    font-size: 21px;
}        
.product-box{
    width: 310px;
    margin: 10px;
    box-sizing: border-box;
}
.explore-products{
    height: 427px;
}
.product-box img{
      height:190px;
      width:160px;
padding:0px;}
.product-box strong{
    font-size: 21px;
}


.lSAction > a{
display:none;
}
.products-slider{
background-color: #f5f5f7;
padding: 0px;}
}
@media(max-width:400px){
.product-box{
    width: 280px;
}
.buy-btn{
    font-size: 0.8rem;
}
}
@media(max-width:324px){
.product-box{
width: 225px;
}
.product-box img{
width: 140px;
  height:165px;
}
.explore-products{
height: 445px;
}
.buy-price{
flex-direction: column;
}
.buy-price .buy-btn{
width: 100%;
}
}


.products {
/* padding-top: 65rem; */
background-color: white;
padding: 4rem 0;
}
.psection-title h2 {
text-align: center;
font-size: 2.5rem;
margin-bottom: 5rem;
text-transform: capitalize;
letter-spacing: var(--mainSpacing);
}
.products-center {
width: 100vw;
margin: 0 auto;
max-width: 1170px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
grid-column-gap: 1.5rem;
grid-row-gap: 2rem;
}
.img-container {
position: relative;
overflow: hidden;
}
.bag-btn {
position: absolute;
top: 70%;
right: 0;
background: var(--primaryColor);
border: none;
text-transform: uppercase;
padding: 0.5rem 0.75rem;
letter-spacing: var(--mainSpacing);
font-weight: bold;
transition: var(--mainTransition);
transform: translateX(101%);
cursor: pointer;
}
.bag-btn:hover {
color: var(--mainWhite);
}
.fa-shopping-cart {
margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
transform: translateX(0);
}
.product-img {
display: block;
width: 100%;
min-height: 12rem;
transition: var(--mainTransition);
}
.img-container:hover .product-img {
opacity: 0.5;
}

.product h3 {
text-transform: capitalize;
font-size: 1.1rem;
margin-top: 1rem;
letter-spacing: var(--mainSpacing);
text-align: center;
}

.product h4 {
margin-top: 0.7rem;
letter-spacing: var(--mainSpacing);
color: var(--primaryColor);
text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100%;
transition: var(--mainTransition);
background: rgb(240, 157, 81, 0.5);
z-index: 2;
visibility: hidden;
}
.cart {
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100%;
overflow: scroll;
z-index: 3;
background: rgb(231, 226, 221);
padding: 1.5rem;
transition: var(--mainTransition);
transform: translateX(100%);
}
.showCart {
transform: translateX(0);
}
.transparentBcg {
visibility: visible;
}
@media screen and (min-width: 768px) {
.cart {
  width: 30vw;
  min-width: 450px;
}
}

.close-cart {
font-size: 1.7rem;
cursor: pointer;
}
.cart h2 {
text-transform: capitalize;
text-align: center;
letter-spacing: var(--mainSpacing);
margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
display: grid;
align-items: center;
grid-template-columns: auto 1fr auto;
grid-column-gap: 1.5rem;
margin: 1.5rem 0;
}
.cart-item img {
width: 75px;
height: 75px;
}
.cart-item h4 {
font-size: 0.85rem;
text-transform: capitalize;
letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
margin: 0.5rem 0;
letter-spacing: var(--mainSpacing);
}
.item-amount {
text-align: center;
}
.remove-item {
color: grey;
cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
color: var(--primaryColor);
cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
margin-top: 2rem;
letter-spacing: var(--mainSpacing);
text-align: center;
}
.cart-footer h3 {
text-transform: capitalize;
margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */


/* MEDIA */


@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

/*  */

.main {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
